/* Write your CSS here */
.bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  padding: 10px;
  color: white;
  text-align: center;
  height: 100%;
}
.bg1 {
  display: flex;
  justify-content: center;
}
.logo {
  height: 100px;
  width: 100px;
}
