/* Write your CSS here */
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

}
.teamMatches{
    background-color: red;
    display: flex;
flex-direction: column;
padding: 25px;

}